<div id="login-form">
  <form class="form" action="/auth/login" method="POST">

    <label> Username
      <input type="text" name="username"/>
    </label>

    <label> Email
      <input type="email" name="email" />
    </label>

    <label> Password
      <input type="password" name="password" />
    </label>

    <button type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>