<div class="eventdetail">
<h2>{{selectedEvent.name}}</h5>
<div>
{{selectedEvent.description}}
</div>
<div id="hideco">
   <span>{{selectedEvent.coordinates}}</span>
</div>
<div>
<div>
  <img src="{{selectedEvent.picture}}" alt="picture-of-event">  
</div>

<div id='map'></div>
</div>
</div>
