<div>
<form id="eventdiv" class="form" action="/event/create" method="POST" enctype="multipart/form-data" >
<h2 id="center">CREATE AN EVENT</h2>
    <label for="name">Event Name: </label>
    <input type="text" name="name" >

    <label for="description">Description: </label>
	<input type="text" name="description" >

    <label for="date">Date: </label>
	<input type="datetime-local" name="date" >

	<input id="coordinates" type="text" name="coordinates" hidden>
 	<label for="date">Pick Location: </label>
	<div class="map" id='map'></div>

    <input type="file" name="picture"/>
	
    <button type="submit">Create Event</button>
</form>
  <script src="/js/map.js"></script>
</div>