<div class="events">
  <div class="eventdetail">
    <h2><mark>{{selectedEvent.name}}</mark></h5>
      <div id="hideco">
        <span>{{selectedEvent.coordinates}}</span>
      </div>
      <div class="event-flex">
        <div class="text"><mark>
          {{selectedEvent.description}}
        </div></mark>
        <div class="map-event events" id='map2'></div>
        <div><img class="img-event events" src="{{selectedEvent.picture}}" alt="picture-of-event"></div>
      </div>
  </div>
</div>
  <script src="/js/map2.js"></script>