<div class="eventdetail">
<h5>{{selectedEvent.name}}</h5>
<div>
{{selectedEvent.description}}
</div>
<div id="hideco">
   <span>{{selectedEvent.coordinates}}</span>
</div>

<div id='map'></div>
</div>
