{{!-- <div id="index-page">
    <div id="to-right">
        <form id="logout-form" action="/auth/signup" method="GET">
            <button>Signup</button>
        </form>
        <form id="logout-form" action="/auth/login" method="GET">
            <button>Login</button>
        </form>
        <p>your plant tracking app</p>

    </div>
</div> --}}