<div class="container-intro">
  <div class="cont">
   <h4> <mark>Your plant care and baby plant swap app</mark></h4>
    <p><mark>This app will help you take care of your plants by reminding you when to water them.</mark>
      <br><mark>You can also use the app to create or find plant swap parties near you.</mark></p>
    <mark><a href="/auth/signup">Signup</a> or <a href="/auth/login">Login</a> to get started!</mark>
  </div>
</div>
<div>
  <h2 class="h2">Upcoming events:</h2>
</div>
<div class="all-events">
  {{#each showEvents}}
    <div class="clay card white " style="width: 18rem;">
  {{!-- <img class="card-img-top" src="images/greenbar.png" alt="Card image cap"> --}}
  {{!-- <div class="card-body"> --}}
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{description}}</p>
  {{!-- </div> --}}
      <a href="/eventdetail/{{id}}" class="button button:hover">View Event</a>
    </div>
  {{/each}}
</div>