<div class="container-intro">
  <div class="cont">
    <h4> Welcome to <i>PLANTER</i>: Your plant care and baby plant swap app</h4>
    <p>Planter will help you take care of your plants by reminding you when to water them
      <br>You can also use the app to create or find plant swap parties near you
    </p>
    <a href="/auth/signup">Signup</a> or <a href="/auth/login">Login</a> to get started
  </div>
</div>
<div>
  <h2 class="h2">Upcoming events:</h2>
</div>
<div class="all-events">
  {{#each showEvents}}
  <div class="clay card white " style="width: 18rem;">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{description}}</p>
    <a href="/eventdetail/{{id}}" class="button button:hover">View Event</a>
  </div>
  {{/each}}
</div>