<h2>CREATE A PLANT</h2>
<form action="/plantBase/create" method="POST">

    <label for="plantType">Type: </label>
    <input type="text" name="plantType" id="plantType">

    <label for="h2o">h2o: </label>
     <label for="ones-per-day">ones per day</label><br>
    <input type="radio" id="ones-per-day" name="h2o" value="ones per day">
   
    <label for="ones-per-week">ones per week</label><br>
    <input type="radio" id="ones-per-week" name="h2o" value="ones per week">

    <label for="twice-per-week">twice per week</label><br>
    <input type="radio" id="twice-per-week" name="h2o" value="twice per week">

    <label for="once-per-month">once oer month</label><br>
    <input type="radio" id="once-per-month" name="h2o" value="once per month">


    <label for="light">light: </label>
    <label for="low-light">low light</label><br>
    <input type="radio" id="low-light" name="light" value="low light">

    <label for="direct-light">direct light</label><br>
    <input type="radio" id="direct-light" name="light" value="direct light">

    <label for="ndirect-light">indirect light</label><br>
    <input type="radio" id="ndirect-light" name="light" value="ndirect light">


    <label for="bio">BIO: </label>
    <input type="text" name="bio" id="bio">

    <button type="submit">Add PLANT</button>
</form>




 



