body {
  padding: 50px;
  font-family: monospace;
  font-size: 18px;
  background-image: url('../images/flower.png');
}

a {
  color: #129e00;
  text-decoration: none;
  font-size: 1.5em;
}

.form{
  margin: 30px auto;

}
form {
  width: 380px;
}
 
form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
 
form input,
form button {
  box-sizing: border-box;
  font-size: 24px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}
 
form button {
  background: black;
  border: 1px solid #0c1a0b;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
 
form button:hover {
  background: #fff;
  color: #ae2932;
  transition: 0.3s ease background;
}

#to-right {
  padding: 1em;
  float: left;
}

#login-form {
  margin: 0px;
  width: auto;
}

/* POPUP CONTAINER*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 550px;
  display:flex;
  justify-content: center;
  background-color: rgb(255, 194, 194);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  /* left: 50%; */
  /* margin-left: -80px; */
}
/* Popup arrow */
.popup .popuptext::after {
  margin: 10px;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
} 
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#cheat {
  margin-top: 10%;
  text-align: center;
}
#cheat-btn {
  width: auto;
  font-size: 1em;
  border-radius: 26px;
}

.map{
  height:50vh;
  width: 27.5 wv;
  margin-top: 10px;
  margin-bottom: 30px;
  border: #0c1a0b 3px solid;
}

.button{
  background: black;
  border: 1px solid #0c1a0b;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
  text-align: center;

}

.button:hover{
  background: #fff;
  color: #ae2932;
  transition: 0.3s ease background;
}

.container-intro{
height: 100vh;
width: 100vw;
margin-top: 20px;
margin-left: 25px;
margin-right: 25px;
}

.containerflex{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.h2{
  background-color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 90%;
  margin-bottom: 15px;
}

.shortbtn{
  width: 200px
}
#logo{
  height: 40px;
}
.red {
  color: tomato;
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.5s; 

   /* When the animation is finished, start again */
   animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.plants {
  border-radius: 200px;
  
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(253, 253, 253);
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: rgb(38, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(255, 243, 253)}

ul.topnav li a.active {background-color:  rgb(255, 243, 253)}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

#hideco{
  display: none;
}


.eventdetail{
  text-align: center;
  margin-top: 20px;
}
