body {
  padding: 50px;
  font-family: monospace;
  font-size: 18px;
  background-image: url('../images/flower.png');
}

#everything {
  margin: 3%;
}

 #user {
  height: 100vw;
  border-radius: 15px;
}

#user p {
  opacity: 100%;
}
a {
  color: #129e00;
  text-decoration: none;
  font-size: 2.5em;
}
h2 {
  /* margin: 4%; */
}
.form{
  margin: 30px auto;

}
form {
  width: 380px;
}
 
form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
 
form input,
form button {
  box-sizing: border-box;
  font-size: 24px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;

}
 
form button {
  background: black;
  border: 1px solid #0c1a0b;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
 
form button:hover {
  background: #fff;
  color: #ae2932;
  transition: 0.3s ease background;
}

#to-right {
  padding: 1em;
  float: left;
}

#login-form {
  margin: 0px;
  width: auto;
}

/* POPUP CONTAINER*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 550px;
  display:flex;
  justify-content: center;
  background-color: rgb(255, 194, 194);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  /* left: 50%; */
  /* margin-left: -80px; */
}
/* Popup arrow */
.popup .popuptext::after {
  margin: 10px;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
} 
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#cheat {
  /* margin-top: 10%; */
  text-align: center;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

/* #cheat-btn {
  width: auto;
  margin: 1%;
  background-color: #ffffff;
  font-size: 1em;
  border-radius: 15px;
} */

#cheat-btn {
  background: black;
  border: 1px solid #0c1a0b;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  /* width: 100%; */
  text-align: center;
  width: fit-content;
}

#cheat-btn:hover{
  background: #fff;
  color: #ae2932;
  transition: 0.3s ease background;
}


.map{
  height:50vh;
  width: 27.5 wv;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
  border: #0c1a0b 3px solid;
}

.event-flex{
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.map-event{
  border: #0c1a0b 3px solid;
  width: 400px;
  height: 400px;
  border-radius: 15px;
}

.img-event{
  border: #0c1a0b 3px solid;
  width: 400px;
  height: 400px;
  border-radius: 15px;
}

.map-div{
  border: #0c1a0b 3px solid;
  width: 400px;
  height: 400px;
}

.button{
  background: black;
  border: 1px solid #0c1a0b;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  /* width: 100%; */
  text-align: center;

}

.button:hover{
  background: #fff;
  color: #ae2932;
  transition: 0.3s ease background;
}

.container-intro{
height: 100vh;
/* width: 100vw; */
/* padding:0 16px; */
margin-top: 20px;
}

.containerflex{
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.h2{
  background-color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 90%;
  margin-bottom: 15px;
}

.shortbtn{
  width: 200px
}
#logo{
  height: 40px;
}

.card{
  /* Modify clay.css properties */
  --clay-background: rgb(255, 243, 253);
  --clay-border-radius: 15px;

  /* Extended styles */
  color: #302d2d;
  padding: 18px;
}
.white {
  --clay-background: rgb(246, 246, 246);
  --clay-border-radius: 15px;
  margin: 2%;
}
.all-events {
  background-color: #ffffff;
  opacity: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 15px;
}
.events {
  background-color: #ffffff;
  opacity: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card-text {
  font-size: 0.7em;
}
.red {
  color: tomato;
   /* Start the shake animation and make the animation last for 0.5 seconds */
   animation: shake 0.5s; 

   /* When the animation is finished, start again */
   animation-iteration-count: infinite; 
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.all-plants {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.plants {
  margin: 1%;
}

.cont {
  margin-top: 2%;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: rgb(38, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: rgb(255, 243, 253)}

ul.topnav li a.active {background-color:  rgb(255, 243, 253)}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}

  li.right {
    display: none;
  }
}
mark {
  background: #ffffff;
  border-radius: 15px;
}
.cont{
  padding:0 16px;
}
p {
  margin-top: 2%;
  margin-bottom: 2%;
}
#logo {
  position: relative;
  margin: 5%;
  width: 50px;
  height: auto;
}

#hideco{
  display: none;
}

.eventdetail {
  text-align: center;
  margin: 20px;
  padding: 20 px;
  width: 400px;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(123, 255, 226); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav form {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}