body {
  padding: 50px;
  font-family: monospace;
}

a {
  color: #129e00;
  text-decoration: none;
  font-size: 1.5em;
}

form {
  margin: 30px auto;
  width: 380px;
}
 
form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}
 
form input,
form button {
  box-sizing: border-box;
  font-size: 24px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}
 
form button {
  background: #009f25;
  border: 1px solid #43a3e6;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}
 
form button:hover {
  background: #fff;
  color: #e643cb;
  transition: 0.3s ease background;
}

#to-right {
  padding: 1em;
  float: left;
}

#login-form {
  font-size: 1em;
} 

